* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merriweather', serif;
}

#background::before {
  background-image: url("../img/mac-background.jpeg");
  background-size: cover;
  content: "";
  background-repeat: no-repeat;
  background-position: -100px;
  position: fixed;
  will-change: transform;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.6;

}

#shop-img {
  width: 85%;
  max-width: 640px;
  max-height: 95%;
  padding-top: 20px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -2;
}

.wrapper {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 13%;
  display: grid;
  row-gap: 25px;
}

.profile {
  max-width: 450px;
  width: 70%;
  padding: 15px;
  margin: auto;
  position: relative;
  grid-row: 1;
}

.store-info {
  max-width: 640px;
  position: relative;
  width: 85%;
  margin: auto;
  display: grid;
  margin-bottom: 20px;
}

.location {
  position: relative;
  padding: 15px 10%;
  grid-row: 1;
}

.operating-hours {
  position: relative;
  padding: 15px 10%;
  grid-row: 2;
}

.profile::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  height: 100%;
  z-index: -2;
  opacity: 0.8;
  background-color: white;
  border-radius: 25px;
  filter: blur(3px);
}

.store-info article::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
  background-color: rgb(233, 232, 232);
  filter: blur(1px);
}

#profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 75px;
  display: block;
  margin: 15px auto;
}

.primary-text {
  font-weight: bolder;
  margin-bottom: 10px;
}

.secondary-text {
  font-weight: lighter;
  margin-bottom: 5px;
}

.googlemap {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.googlemap iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}