* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Merriweather", serif;
}

#background::before {
  background-image: url("../img/mac-background.jpeg");
  background-size: cover;
  content: "";
  background-repeat: no-repeat;
  position: fixed;
  will-change: transform;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.6;
}

#shop-img {
  width: 85%;
  max-width: 640px;
  max-height: 95%;
  padding-top: 20px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -2;
}

#shop-img img {
  display: block;
  width: 100%;
}

.wrapper {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 13%;
  display: grid;
  row-gap: 25px;
}

.profile {
  max-width: 450px;
  width: 70%;
  padding: 15px;
  margin: auto;
  position: relative;
  grid-row: 1;
}

.store-info {
  max-width: 640px;
  position: relative;
  width: 85%;
  margin: auto;
  display: grid;
  margin-bottom: 20px;
}

.location {
  position: relative;
  padding: 15px 10%;
  grid-row: 1;
}

.operating-hours {
  position: relative;
  padding: 15px 10%;
  grid-row: 2;
}

.profile::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  height: 100%;
  z-index: -2;
  opacity: 0.8;
  background-color: white;
  border-radius: 25px;
  filter: blur(3px);
}

.store-info article::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
  background-color: rgb(233, 232, 232);
  filter: blur(1px);
}

#profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 75px;
  display: block;
  margin: 15px auto;
}

.primary-text {
  font-weight: bolder;
  margin-bottom: 10px;
}

.secondary-text {
  font-weight: lighter;
  margin-bottom: 5px;
}

.googlemap {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.googlemap iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

figure {
  display: none;
}

@media (min-width: 768px) and (orientation: landscape) {
  #background::before {
    background-position: unset;
  }

  .wrapper {
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-areas: "sidebar content";
    row-gap: 0px;
  }

  #shop-img {
    position: absolute;
    width: 30vw;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding-top: 0;
  }

  #shop-img img {
    display: block;
    width: 100%;
  }

  .googlemap {
    position: fixed;
    width: 30vw;
    max-width: 640px;
    height: 50%;
    bottom: 0;
    left: 0;
    padding-bottom: unset;
  }

  .profile {
    position: relative;
    grid-area: content;
    background: white;
    width: 60%;
    max-width: 690px;
    min-height: 110px;
    padding: 15px;
    top: 80px;
    right: 0;
    left: 0;
    margin: 0 auto auto 90px;
    padding-left: 65px;
    border-radius: 25px;
  }

  #profile-photo {
    position: absolute;
    left: -50px;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .profile::before {
    bottom: unset;
    content: none;
  }

  .store-info {
    position: relative;
    display: inline-grid;
    grid-area: content;
    background: white;
    width: calc(60% + 130px);
    max-width: 810px;
    top: 0;
    margin: 240px auto auto 40px;
    border-radius: 15px;
  }

  .store-info article::before {
    content: none;
  }

  .location {
    padding: 20px 10%;
    grid-column: 1;
  }

  .operating-hours {
    padding: 20px 10%;
    grid-column: 2;
    grid-row: 1;
  }

  figure {
    display: block;
    position: absolute;
    top: 0;
    right: 4vw;
    top: 0px;
    font-family: Dosis;
    font-weight: 600;
    font-size: 48px;
    text-align: right;
    color: #FFFFFF;
  }
}

@media (min-width: 768px) and (orientation: landscape) and (max-aspect-ratio: 250/189) {
  .googlemap {
    top: calc(30vw * 1.26);
    height: 30vw;
  }
}
